In [12]:
import pandas as pd
from datetime import datetime

In [13]:
pdf = pd.read_csv('training_data/utah_positive_examples.csv')
ndf = pd.read_csv('training_data/utah_negative_examples.csv')
wdf = pd.read_csv('utah_weather_2010-2018_grouped.csv')

In [14]:
ndf.head()

,timestamp,SegID,station_id,KDE_Severity,PREDIR,STREETTYPE,SPEED,ONEWAY,SURFTYPE,SURFWIDTH,aadt_vn,Sinuosity,AtIntersection,hour,weekday,month,target
0,2013-07-22 13:00:00,377118.0,7.247969e+10,NaN,N,RD,25,0,,20,896.0,1.000017,0,13,0,7,0
1,2017-05-28 15:00:00,383186.0,7.257242e+10,NaN,,FWY,65,1,,0,10661.0,1.008527,0,15,6,5,0
2,2014-07-28 00:00:00,359823.0,7.257202e+10,NaN,W,,40,0,,0,13694.0,1.000000,0,0,0,7,0
3,2016-10-15 10:00:00,104023.0,7.257242e+10,NaN,N,,25,0,,0,NaN,1.000000,0,10,5,10,0
4,2015-12-14 22:00:00,342704.0,7.257202e+10,NaN,E,FWY,65,2,,0,329.0,1.029919,0,22,0,12,0

In [15]:
pdf['timestamp'] = pd.to_datetime(pdf.timestamp)
ndf['timestamp'] = pd.to_datetime(ndf.timestamp)
wdf['timestamp'] = pd.to_datetime(wdf.timestamp)

In [16]:
def add_join_key(df):
    df['join_key'] = df.station_id.map(int).map(str)+df.timestamp.map(datetime.isoformat)
    df = df.set_index('join_key')
    return df

In [17]:
pdf = add_join_key(pdf)
ndf = add_join_key(ndf)
wdf = add_join_key(wdf)

In [18]:
pdf = pdf.join(wdf.drop(columns=['timestamp', 'station_id']))
ndf = ndf.join(wdf.drop(columns=['timestamp', 'station_id']))

In [19]:
tset = pdf.append(ndf)

In [20]:
tset.to_csv('training_data/utah_training_set.csv')